global
  maxconn 4096
  log stdout format raw local0 notice


defaults
  log global
  timeout check 5s
  timeout connect 5s
  timeout client 60m
  timeout server 60m
  timeout client-fin 60m
  timeout server-fin 60m
  maxconn 4096


frontend prometheus-metrics
  mode http
  bind *:8080
  http-request use-service prometheus-exporter if { path /metrics }


backend patroni_master
  option httpchk OPTIONS /master
  http-check expect status 200
  default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
  server pg-1c-dev-01-1d.dev.vm.citydrive.tech 10.128.128.10:6432 maxconn 8192 check port 8008
  server pg-1c-dev-01-2d.dev.vm.citydrive.tech 10.128.128.11:6432 maxconn 8192 check port 8008
backend patroni_standbys
  balance roundrobin
  option httpchk OPTIONS /replica?lag=100MB
  http-check expect status 200
  default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
  server pg-1c-dev-01-1d.dev.vm.citydrive.tech 10.128.128.10:6432 maxconn 8192 check port 8008
  server pg-1c-dev-01-2d.dev.vm.citydrive.tech 10.128.128.11:6432 maxconn 8192 check port 8008
backend postgres_master
  option httpchk OPTIONS /master
  http-check expect status 200
  default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
  server pg-1c-dev-01-1d.dev.vm.citydrive.tech 10.128.128.10:5432 maxconn 8192 check port 8008
  server pg-1c-dev-01-2d.dev.vm.citydrive.tech 10.128.128.11:5432 maxconn 8192 check port 8008
backend postgres_standbys
  balance roundrobin
  option httpchk OPTIONS /replica?lag=100MB
  http-check expect status 200
  default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
  server pg-1c-dev-01-1d.dev.vm.citydrive.tech 10.128.128.10:5432 maxconn 8192 check port 8008
  server pg-1c-dev-01-2d.dev.vm.citydrive.tech 10.128.128.11:5432 maxconn 8192 check port 8008
frontend production_master
  maxconn 8192
  bind 0.0.0.0:5000
  default_backend patroni_master
frontend production_standbys
  maxconn 24576
  bind 0.0.0.0:5001
  default_backend patroni_standbys
frontend production_postgres_master
  maxconn 8192
  bind 0.0.0.0:5002
  default_backend postgres_master
frontend production_postgres_standbys
  maxconn 24576
  bind 0.0.0.0:5003
  default_backend postgres_standbys


backend stats
  mode http
  stats enable
  stats uri /
  stats refresh 20s
  stats show-node
  stats show-legends
  stats realm PostgreSQL Haproxy\ Statistics
  stats show-desc PostgreSQL load balancer stats (master/replica)
frontend production_stats
  bind 0.0.0.0:7000
  default_backend stats
