[Unit]
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=+/usr/bin/mkdir -p /run/postgresql
ExecStartPre=+/usr/bin/chown -R postgres:postgres /run/postgresql
ExecStartPre=-/usr/bin/docker rm -f %N
ExecStart=/usr/bin/docker run --name %N  \
  --rm=true  \
  --user postgres \
  --network=host \
  --stop-timeout=120 \
  --ulimit=nofile=262144:262144 \
  --shm-size=36864m \
  -e TZ=Europe/Moscow \
  --volume=/var/log/postgresql:/var/log/postgresql \
  --volume=/data/var/lib/postgresql/data:/var/lib/postgresql/data \
  --volume=/var/lib/raft:/var/lib/postgresql/pgdata/raft \
  --volume=/etc/patroni:/etc/patroni \
  --volume=/usr/local/share/ca-certificates/:/usr/local/share/ca-certificates/ \
  --volume=/run/postgresql/:/tmp/ \
  registry-private.<blur>.tech/<blur>/patroni:18.3C-4.1.1 /usr/local/bin/patroni /etc/patroni/patroni.yaml
ExecReload=/usr/bin/docker exec %N /usr/local/bin/patronictl -c /etc/patroni/patroni.yaml \
  reload --force pg_1c_dev_01
ExecStop=-/usr/bin/docker stop %N
Restart=always
StartLimitInterval=0
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
